@model IEnumerable<Hostel.Models.Person>

@{
    ViewBag.Title = "Список жильцов";
}

<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Добавить жильца", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
